---
import Layout from "../layouts/Layout.astro";
import DashboardCards from "../components/Dashboard/DashboardCards";
import '../scss/components/style.scss'
import '../scss/components/DashboardCards.scss'

const cards = [
  { title: "Projects", link: "/projects" },
  { title: "Employee", link: "/employee" },
  { title: "Work Status", link: "/work-status" },
];
---

<Layout title="Dashboard">
  <script is:inline>
    if (!localStorage.getItem("authToken")) {
      window.location.href = "/login";
    }
  </script>
<header class="custom-header">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-6">
        <h3>HR Connect</h3>
      </div>
      <div class="col-6">
        <a href="/logout" class="btn btn-danger float-end">Logout</a>
      </div>
    </div>
  </div>
</header>
  <div class="container  mt-4  p-3 ">
    <div class="row">
      
      <div class="dashboard-grid d-flex justify-content-center text-center">
       
       
        <DashboardCards cards={cards} client:load />
     
      </div>
    </div>
  </div>

 
</Layout>
