---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid";
import '../scss/components/style.scss';
---

<Layout title="Projects">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  <!-- Bootstrap JavaScript for modals and toasts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Authentication check with debug log -->
  <script is:inline>
    const authToken = localStorage.getItem("authToken");
    console.log("Auth Token:", authToken); // Debug: Log auth token
    if (!authToken) {
      console.log("No auth token found, redirecting to /login");
      window.location.href = "/login";
    }
  </script>

  <header class="custom-header">
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-6">
          <h3>DK Tekdesign Engineering</h3>
        </div>
        <div class="col-6">
          <a href="/logout" class="btn btn-danger float-end">Logout</a>
        </div>
      </div>
    </div>
  </header>

  <div class="container mt-4 shadow-5 rounded-3 p-3 custom-header">
    <div class="col-lg-12">
      <Grid client:only />
    </div>
  </div>
</Layout>